html,
body {
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.content {
    grid-column: span 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(16px, calc(0.5rem + 1vw), 18px);
    text-align: left;
    padding: 0 10px;
    margin: 0 10px;
    max-width: 960px;
}

.header-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #4C4B16;
    padding: 20px;
}

footer {
    display: flex;
    width: 100%;
    background-color: #4C4B16;
    color: #F7F1E5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 10px;
}

.links-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-bottom: 0%;
}

a:link,
a:visited {
    background-color: #F7F1E5;
    color: #4C4B16;
    border: 2px solid #898121;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover,
a:active {
    background-color: #898121;
    color: white;
}

.item1 {
    grid-column: 1 / -1;
    background-color: #F7F1E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    position: relative;
}

.item1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item1 h1 {
    position: absolute;
    color: #E7B10A;
    text-align: center;
    font-size: calc(4vw + 10px);
    text-shadow: 2px 2px 4px #4C4B16;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
}

#area-list {
    padding: 10px;
    margin: 0%;
    color: #06650B;
}

li {
    margin-left: 50px;
    padding-left: 10px;
    line-height: 1.2;
}

.item2,
.item4 {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    gap: 30px;
    align-items: center;
    margin: 5px;
}

img.round {
    display: block;
    width: calc(100px + 10vw);
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: #d8d8d8;
    margin: auto;
}

.item2 p,
.item3 p,
.item4 p {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1em;
    text-align: justify;
    padding-top: 0%;
    margin: 0;
    color: #06650B;
    line-height: 1.5;
}

.item2 p,
.item4 p {
    margin-right: 70px;
}

.item3 p {
    padding-left: 30px;
    padding-right: 30px;
}

#area-list,
.item3 {
    background: #f1f5eb;
    border-color: #D1E4B7;
}

#area-list {
    margin-bottom: 20px;
}

.item3 {
    grid-column: span 2;
    display: flex;
    padding: 10px;
    margin: 15px;
}

#green {
    background: #d8ecbb;
    border-color: #D1E4B7;
}

.item6 {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 20px;
}

.item6 p {
    padding: 5px;
    text-align: justify;
}

.item7 {
    padding: 5px;
    text-align: justify;
    margin: 10px;
}

h2 {
    padding: 0;
    margin: 0;
}

.btnfavorite {
    width: auto;
    background-color: #d5d3b9;
    color: #4C4B16;
    border: 2px solid #898121;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btnfavorite:hover,
.btnfavorite:active {
    background-color: #898121;
    color: white;
}

.form-area {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 0;
    margin: 20px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: left;
    margin-top: 0%;
}

#charCount {
    font-size: 14px;
}

.form-box {
    grid-column: 1;
    grid-template-columns: 1fr;
    margin-left: 40px;
    background-color: #505034d7;
    border: 2px solid #898121;
    padding: 15px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f1f5eb;
}


.form-box label {
    color: white;
}

.form-box input[type="text"],
.form-box textarea,
.form-box select {
    width: 100%;
    padding: 8px;
    border: 1px solid #898121;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-box textarea {
    min-height: 80px;
    resize: none;
}

.form-box p {
    padding: 0%;
    margin: 0;
}

#result {
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 20px;
}

.form-box input[type="submit"],
.form-box input[type="reset"] {
    width: auto;
    background-color: #F7F1E5;
    color: #4C4B16;
    border: 2px solid #898122;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 15px;
    margin-right: 20px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.form-box input[type="submit"]:hover,
.form-box input[type="reset"]:hover {
    background-color: #898121;
    color: white;
}

#title {
    display: grid;
    grid-column: span 2;
    position: relative;
}

#title h1 {
    position: absolute;
    top: 25%;
    bottom: 10%;
    left: 50px;
    z-index: 2;
    color: #E7B10A;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(3vw + 10px);
    text-shadow: 2px 2px 4px #4C4B16;
}

.subtitle {
    display: grid;
    grid-column: span 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    padding-left: 20px;
}

@media (max-width: 699px) {

    .container,
    .content,
    .item1,
    .item2,
    .item3,
    .item6 {
        gap: 5px;
        margin: auto;
    }

    #area-list {
        padding: 5px;
        margin: 0;
    }

    li {
        margin-left: 15px;
        padding-left: 10px;
        line-height: 1.2;
    }

    .item2,
    .item4 {
        gap: 15px;
        padding: 5px;
    }

    .item2 p,
    .item4 p {
        margin-right: 10px;
        margin-left: 10px;
    }

    .item3 p,
    .item5 p {
        padding: 10px;
    }

    .form-box {
        margin: 10px;
    }

    .form-box div>p {
        padding-top: 5px;
    }


    #result {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
        text-align: justify;
    }
}


@media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
        padding: 5px;
    }

    .content,
    .item1,
    .item2,
    .item3,
    .item4,
    .item5,
    .item6,
    .btnfavorite,
    .form-area {
        grid-column: 1;
    }

    .form-box {
        grid-template-columns: 1fr;
    }

    .content {
        padding: 2px;
    }

    img.round {
        display: none;
    }

    br {
        display: none;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    .item2,
    .item3,
    .item4,
    .item5 {
        grid-column: span 2;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 5px;
    }

    .item2 p,
    .item3 p,
    .item4 p,
    .item5 p,
    .item6 p {
        text-align: justify;
        padding: 5px;
        margin: 0;
        color: #06650B;
        line-height: 1.5;
    }

    #result {
        margin: 5px;
        text-align: justify;
    }
}